/* Global *********************************************************************/
* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body, html {
    margin: 0;
    padding: 0;
    
    background-color: #1A1A1A;

    color: white;
    font-size: 16px;
}

/* Header *********************************************************************/
header {
    width: 100vw;
    height: 10vh;
    padding: 3vh 0;

    background-color: #111111;
}

h1 {
    margin: 0;
    padding: 0 10vw;
    text-align: center;

    font-size: 3em;
}

/* Main *********************************************************************/
main {
    margin: 0 auto;
    width: 80vw;
    height: 90vh;
}

/* Description */
#description {
    text-align: center;
}

#description-main {
    margin: 3vh 0 2vh;

    font-size: 2em;
}

#description-sub {
    margin: 2vh 0 3vh;

    color: #CACACA;
    font-size: 1.2em;
    font-weight: 400;
}

/* Converter */
#converter {
    margin: 12vh 5vw 0;
    border-radius: 20px;
    height: 30vh;

    background-color: white;

    color: black;
    text-align: center;
}

#value-from {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

#value-from::-webkit-outer-spin-button, #value-from::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#currency-from {

}

#currency-to {

}

#convert-button {

}

#value-to {

}

/* Footer *********************************************************************/
footer {
    margin: 0 auto;
    padding: 0 10vw;
    /* width: 80vw; */
    background-color: #111111;
}

#project {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    /* border-top: 1px solid #DADADA; */
    padding: 10vh 0;
}

.project-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.project-list-item {
    margin-bottom: 20px;

    font-size: 1.3em;
}

.project-list-item > a {
    color: #C9C9C9;
    text-decoration: none;
}

.project-list-item > a:hover {
    color: white;
}

.project-list-heading {
    margin-bottom: 30px;

    font-size: 1.5em;
}

#data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: 1px solid #DADADA;
    padding: 2vh 0;
}

#data > ul {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 1vh 0 0 0;

    list-style-type: none;
}

#data-legal {

}

#data-legal > li {
    margin-right: 2vw;

    font-size: 1.2em;
    font-weight: 200;
}

#data-legal > li > a {
    color: #C9C9C9;
    text-decoration: none;
}

#data-legal > li > a:hover {
    color: white;
}

#data-social {
    
}

#data-social > li {
    margin-left: 2vw;

    font-size: 1.8em;
}

#data-social > li > a > .fa-facebook {
    color: #C9C9C9;

    transition: color 0.5s linear;
}

#data-social > li > a > .fa-facebook:hover {
    color: #1877F2;
    
    transition: color 0.5s linear;
}

#data-social > li > a > .fa-instagram {
    background-clip: text;
    background-image: linear-gradient(#C9C9C9, #C9C9C9);
    color: #C9C9C9;

    transition: background-image 0.5s linear;
}

#data-social > li > a > .fa-instagram:hover {
    background-clip: text;
    background-image: linear-gradient(
        #405DE6, #5851DB, #833AB4, #C13584, #E1306C,
        #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80
    );
    color: transparent;

    transition: all 0.5s linear;
}

#data-social > li > a > .fa-twitter {
    color: #C9C9C9;

    transition: color 0.5s linear;
}

#data-social > li > a > .fa-twitter:hover {
    color: #1DA1F2;
    
    transition: color 0.5s linear;
}

#copyright {
    margin: 0;
    padding: 3vh 0;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}
