/* Global *********************************************************************/
* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body, html {
    margin: 0;
    padding: 0;
    
    background-color: #1A1A1A;

    color: white;
    font-size: 16px;
}

/* Header *********************************************************************/
header {
    width: 100vw;
    height: 15vh;
}

h1 {
    margin: 0;
    text-align: center;

    font-size: 4em;
}

/* Main *********************************************************************/
main {
    margin: 0 auto;
    width: 80vw;
    height: 85vh;
}

#converter {

}

#value-from {

}

#currency-from {

}

#currency-to {

}

#convert-button {

}

#value-to {

}

/* Footer *********************************************************************/
footer {
    margin: 0 auto;
    width: 80vw;
}

#project {

}

.project-list {

}

.project-list-item {

}

.project-list-item > a {

}

.project-list-heading {

}

#data {

}

#data-legal {

}

#data-legal > li {

}

#data-legal > li > a {
    
}

#data-social {
    
}

#data-social > li {

}

#data-social > li > a {

}

#copyright {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}
