@media screen and (max-width: 767px) {
    /* Header *****************************************************************/
    h1 {
        margin-top: 2.4vh;
        font-size: 1.5em;
    }

    /* Main *****************************************************************/
    #description-main {
        font-size: 1.1em;
    }

    #description-sub {
        font-size: 0.8em;
    }

    #converter {
        padding-top: 4vh;
        padding-right: 2vw;
        padding-left: 2vw;
        height: 50vh;
    }

    #converter-input {
        display: block;
    }

    #converter-input > * {
        display: block;

        margin: 10px auto;
        width: 90%;

        font-size: 0.9em;
    }

    select {
        padding-right: 1vw;
        padding-left: 1vw;

        width: 92% !important;
    }

    #convert-button {
        float: none;

        display: block;

        margin: 0 auto;
        width: 88%;

        font-size: 0.8em;
    }

    #value-to {
        float: none;

        margin-top: 7vh;
        width: 100%;

        font-size: 1em;
        text-align: center;
    }

    /* Footer *****************************************************************/
    #project {
        display: block;
        text-align: center;
    }

    .project-list {
        width: 100%;
    }

    .project-list-item {
        font-size: 0.8em;
    }

    #data > #data-legal {
        display: block;

        text-align: center;
    }

    #data-legal > li {
        margin-top: 4vh;
        font-size: 0.8em;
    }

    #data > #data-social {
        margin-top: 5vh;
    }

    #data-social > li {
        font-size: 1.2em;
    }

    #copyright {
        font-size: 0.8em;
    }
}
