@media screen and (max-width: 1024px) {
    /* Header *****************************************************************/
    h1 {
        margin-top: 1.8vh;
        font-size: 2.2em;
    }

    /* Main *****************************************************************/
    #description-main {
        font-size: 1.6em;
    }

    #converter-input > * {
        font-size: 1.3em;
    }

    #convert-button {
        font-size: 1em;
    }

    #value-to {
        font-size: 1.7em;
    }

    /* Footer *****************************************************************/
    footer {
        padding: 0;
    }

    #project {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .project-list {
        padding: 0;
        width: 45%;
    }

    .project-list-item {
        font-size: 1em;
    }

    #data {
        display: block;
    }

    #data > ul {
        justify-content: space-around;
        
        margin-bottom: 20px;
    }

    #data-legal > li {
        /* margin-left: 2vw; */
        margin: 0;
        padding: 0;

        font-size: 1.1em;
    }

    #data-social > li {
        /* margin-right: 2vw; */
        margin: 0;
        padding: 0;

        font-size: 1.5em;
    }

    #copyright {
        font-size: 1.1em;
    }
}
